@media screen and (max-width: 1700px) {
	.container-fluid{
		padding: 0 15px;
	}

	.header{
		&__nav{
			margin: 0;
		}
		&__workTime{
			margin: 0;
		}
		&__contacts{
			margin: 0;
		}
	}
	.quest{
		&__wrap{
    		padding-top: 50px;
    		padding-bottom: 50px;
		}
		&.second{
			& .quest{
				&__title{
    				max-width: 900px;
				}
			}
		}
		&.third{
			& .quest{
				&__wrap{
					padding-top: 100px;
				}
				&__title{
					max-width: 580px;
				}
			}
		}
	}
	.container-fluid.stages{
		& .tabulation .tabulation{
			&__tab{
				padding: 40px 0;
			}
		}
	}
	.packs{
		&__table{	
   			margin-left: -30px;
   			margin-right: -30px;
   			&-col{
    			padding-right: 10px;
   			}
		}
		&__box{
			margin: 0 5px;
		}
	}
	.gift{
		&:before {
   			right: -80px;
		}
	}
	.buble {
		right: 3%;
	}
	.footer {
		padding-top: 50px;
		padding-bottom: 40px;
	}

}

@media screen and (max-width: 1439px) {
	.container-fluid{
		padding: 0 10px;
	}

	body{
		font-size: 14px;
	}
	.h1 {
    	font-size: 56px;
	}
	.h2{
		font-size: 41px
	}
	.h3{
		font-size: 26px;
	}
	.h4{

	}
	.header{
		&__contacts{
			display: none;
		}
	}
	.quest{
		&__wrap{
			padding-top: 0;
		}
		&.second{
    		margin-top: 300px;
		}
	}
	.advantage{
		& .tabulation{
			&__tab{
				text-align: right;
			}
		}
	}
	.container-fluid.stages .tabulation .tabulation__tab {
		padding-bottom: 20px;
	}
	.about{
		&__play{
			width: 50%;
		}
		&__subtitle{
			max-width: 50%;
		}
	}
	.packs{
		&__boxs{
			left: 35%;
			width: 65%;
		}
		&__box{
			margin: 0 1px;
		}
		&__table {
    		margin-left: -25px;
    		margin-right: -25px;
		}
	}
	.gift{
		&:before{
    		right: -190px;
		}
		&:after{
   			right: -25%;
   			transform: translate(25px, -285px) rotate(10deg);
		}
	}
}

@media screen and (max-width: 1200px) {
	.header{
		&__contacts{
			display: flex;
		}
	}
	
	body{
		font-size: 12px;
	}
}

@media screen and (max-width: 919px) {

}

@media screen and (max-width: 767px) {
	.header{	
		&__contacts{
			display: none;
		}
	}
	body{
		font-size: 10px;
	}
	.h2{
		font-size: 36px;
	}
}

@media screen and (max-width: 425px) {
	.container-fluid{
		padding: 0 5px;
	}
	.header{
		&__workTime{
			display: none;
		}
		&__contacts{
			display: none;
		}
		&__callBack{
			display: none;
		}
	}
}
