@media only screen and (max-width : 1200px) {
	
}


@media only screen and (max-width : 992px) {
	
}

@media only screen and (max-width : 768px) {
	.h1{
		font-size: 40px;
	}
	.h3{
		font-size: 24px;
	}
	.fscreen__title {
		padding-top: 80px 0;
	}
	.fscreen__offer{
		margin-bottom: 40px;
	}
	.quest{
		margin-top: 80px;
		.h4{
			margin-bottom: .8rem;
			margin-top: 60px;
		}
	}
	.advantage{
		margin: 80px 0;

		.h3{
			font-size: 22px;
		}
		.tabulation__content{
			padding-right: 0;
			min-height: 350px;
		}

		.pane__content {
			width: 80%;
			
		}
		.pane__img{
			width: 150px;
			height: 150px;
			right: -30px;
			bottom: -10px;
		}
	}
	.stages .tabulation.flex-row-reverse .tabulation__content{
		padding-left: 0;
	}
	
	.stages .pane__content{
		padding: 50px 5px;
		.pane__img{
			left: 0;
			transform: translate(0, 0);
			border-radius: 10px;
		}
		.text{
			p{
				font-size: 16px;
			}
		}
	}







	.about{
		.about__play{
			width: 450px;
			height: 250px;
			top: -210px;
			right: 10px;
			.play__box{
				width: 130px;
				height: 130px;
				.play__item{
					width: 80px;
					height: 80px;
					img{
						width: 60%;
					}
				}
			}
		}
		.about__wrap{
			margin-bottom: 90px;
		}
		.about__subtitle{
			font-size: 16px;
			margin-bottom: 70px;
		}
		.about__statistic{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0;

			width: 100%;
		}
		.statistic__box{
			
		}
		.statistic__box:nth-child(1){
			order:0;
		}
		.statistic__box:nth-child(2){
			order:2;

		}
		.statistic__box:nth-child(3){
			order:1;
			align-self: flex-end;
			margin: -7% 0;
		}

	}



	.packs{
		.packs__table{
				width: 107%;
			}
		.packs__box{
			margin: 0;
			border-radius: 8px;
			
			
			.packs__box-head{
				border-radius: 0;
			}
			
			&.first{
				border: 0 none;
				.packs__box-footer{
					width: 300%;
				}
				.packs__box-offer{
					padding-top: 125px;

					button{
						display: none;
					}
				}
				.packs__box-head{
					border-radius: 8px 0 0 0;
				}
			}
			&.second{
				border: 0 none;
				.packs__box-footer{
					display: none;
				}
				.packs__box-offer{
					padding-top: 125px;

					button{
						display: none;
					}
				}
			}
			&.third{
				border: 0 none;
				.packs__box-footer{
					display: none;
				}
				.packs__box-offer{
					button{
						border-radius: 0;
						font-size: 14px;
						/* width: 150%; */

					}
				}
				.packs__box-head{
					border-radius: 0 8px 0 0;
				}
			}
		}
	}



	.gift__wrap{
		width: 100%;
		padding-top: 100px;
		padding-bottom: 50px;

		.gift__content{
			width: 100%;
		}
		.gift__price{
			padding-top: 50px;
		}
		.gift__price-button{
			margin-top: 80px;
		}
		.gift__sale{
			margin-top: 70%;
		}
	}


	


	.portfolio{
		margin-top: 100px 0;
		
		.tabulation__tabs{
			padding-top: 0;
		}
		.tabulation{
			margin-top: 50px;
		}
		.slider__next, .slider__prev{
			left: 28%;
			top: 93%;
		}
		
	}



	.quest{
		

		.quest__title{
			margin-top: 70px;
			margin-bottom: 0;
			width: 610px !important;
		}
		.quest__subtitle{
			font-size: 16px;
			margin-top: 40px;
		}
		
		.buble{
			top: -35%;
			right: 25px;
			max-width: 450px;
			padding: 40px;
		}
		/* .quest__woman{
			bottom: -150% !important;

			.woman__prof{
				left: 30% !important;
			}
		} */
	}



	.faq{

		.pane__content{
			padding: 30px 60px 200px 60px;

			p{
				font-size: 16px;
			}
			.pane__img{
				bottom: 0;
			}
		}
	}










}

	
@media only screen and (max-width : 480px) {

}


@media only screen and (max-width : 320px) {

}